networks:
  web:
    name: web
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    # todo add traefik config
    # todo only expose network web
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=web"
      - "--entryPoints.web.address=:80"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web

  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    # todo add traefik labels
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.orderservice.rule=Host(`orders.localhost`)"
      - "traefik.http.routers.orderservice.entrypoints=web"
      - "traefik.http.middlewares.orderservice-redirect.redirectregex.regex=^https?://orders\\.localhost/?$$"
      - "traefik.http.middlewares.orderservice-redirect.redirectregex.replacement=http://orders.localhost/openapi/index.html"
      - "traefik.http.routers.orderservice.middlewares=orderservice-redirect"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    networks:
      - web
      - intercom
    depends_on:
      order-postgres:
        condition: service_healthy


  sws:
    image: joseluisq/static-web-server:latest
    # todo add frontend folder as volume
    volumes:
      - ./frontend:/public:ro
    # todo setup environment variables to expose port 80 and serve the frontend folder
    environment:
      - SERVER_ROOT=/public
      - SERVER_PORT=80
    # todo add traefik labels
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sws.rule=Host(`localhost`)"
      - "traefik.http.routers.sws.entrypoints=web"
    networks:
      - web

  order-postgres:
    image: postgres:latest
    container_name: order-postgres
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql/18/docker
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d order -U docker" ]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 5s